<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactRedux</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
